.spinner__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.spinner__wrapper span {
  margin-left: 8px;
}/*# sourceMappingURL=index.css.map */